<div style="background-color: #FFEED8;padding-left: 90px;" class="jumbotron jumbotron-fluid ">

    <div class="col-md-4 float-right">

        <img class="ngo-img grow" src="../../assets/img/yoga.svg" alt="">

    </div>
    <div class="col-md-4 float-right">

        <img class="ngo-img grow" src="../../assets/img/yoga2.svg" alt="">

    </div>
    <div class="col-md-4 float-right">

        <img class="ngo-img grow" src="../../assets/img/yoga3.svg" alt="">

    </div>
  
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <br><br><br>
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Excercise</li>
        </ol>
    </nav>
    <!--  -->
    <h1 class="display-4">Yoga</h1>
    <p class="lead">"Yoga is the journey of the self, through the self, to the self.&nbsp;&nbsp; -Swami Vivekananda</p>
</div>
<br>








<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">15 Min Daily Yoga Routine for Beginners (Follow Along)</h5>
            <p class="card-text">This is a 15 minute beginner’s daily yoga routine. With gyms and offices shutting down, this video is focussed on utilising our precious time into a higher purpose of learning yoga. If you have never practised any of the yogic postures or breathing exercises then this should be the video which will help you get started with this divine practice. Let’s not focus on the fear, panic and the noise created by the media instead channelise our energy into something like yoga which will boost your immunity and help you live a disease free life in the long run. One more thing, this is not a video to just watch but to follow along. So, c’mon let us do it together.</p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/s2NQhpFGIOg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    
</div>
<hr>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">10 Yoga Poses for Beginners | Swami Ramdev</h5>
           
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6WUFIwk9Owc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    
</div>
<hr>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">Yoga For Kids with Alissa Kepas
            </h5>
            <p class="card-text">A 15-Minute yoga class just for KIDS! .</p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4ZpkRAcgws4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    
</div>
<hr>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">15 Min Daily Yoga Routine for Beginners (Follow Along)</h5>
            <p class="card-text">This is a 15 minute beginner’s daily yoga routine. With gyms and offices shutting down, this video is focussed on utilising our precious time into a higher purpose of learning yoga. If you have never practised any of the yogic postures or breathing exercises then this should be the video which will help you get started with this divine practice. Let’s not focus on the fear, panic and the noise created by the media instead channelise our energy into something like yoga which will boost your immunity and help you live a disease free life in the long run. One more thing, this is not a video to just watch but to follow along. So, c’mon let us do it together.</p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/s2NQhpFGIOg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    
</div>
<hr>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">5 Pranayama You Should Practice Daily 
            </h5>
           
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-EH4D_DAvqc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    
</div>
<hr>