<!-- <header>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card text-center box transbox">

                <div class="card-body">
                    <div class="form">
                        <div class="login">FORGOT PASSWORD</div>
                        <div class="form-group" style="margin-top: 20px;">
                            <label class="float-left" for="">Email</label>
                            <input style="height: 50px;" [(ngModel)]="email" type="email" placeholder="Enter Email"
                                class="form-control input-type">
                        </div>
                       
                        <div class="form-group" style="margin-top: 20px;">
                            <label class="float-left" for="">Otp</label>
                            <input style="height: 50px;" [(ngModel)]="newOtp" type="number" placeholder="Enter otp"
                                class="form-control input-type">
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <label class="float-left" for="">New password</label>
                            <input style="height: 50px;" [(ngModel)]="password" type="email" placeholder="Enter password"
                                class="form-control input-type" >
                        </div>
                        <div class="form-group" style="margin-top: 20px;">
                            <label class="float-left" for="">Confirm password</label>
                            <input style="height: 50px;" [(ngModel)]="newPassword"  type="email" placeholder="Re-enter password"
                                class="form-control input-type">
                        </div>
                        <div class="form-group ">
                            <button style=" margin-bottom: 10px; margin-top: 10px" (click)="onReset()"
                                class="btn btn-primary btn-lg btn-block float-left">Reset Password</button>
                        </div>
                        
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>

</header> -->




<div class="container">
    <img width="200px"  src="../../../assets/logo.png">
</div>


<div class="container-reset">
    <div class="card" style="width: 40rem">
      <div class="card-header">
        <h2>FORGOT PASSWORD</h2>
      </div>
      <div class="card-body" style="margin-left: 40px">
        <div class="inner-card1">
         <label class="float-left" for="">Email</label>
          <div class="input-group">
            
           
            <input style="height: 50px;" [(ngModel)]="email" type="email" placeholder="Enter Email"
                class="form-control input-type">
          </div>



          <label class="float-left" for="">Otp</label>
          <input style="height: 50px;" [(ngModel)]="newOtp" type="number" placeholder="Enter otp"
              class="form-control input-type">

              <label class="float-left" for="">New password</label>
              <input style="height: 50px;" [(ngModel)]="password" type="email" placeholder="Enter password"
                  class="form-control input-type" >


                  <label class="float-left" for="">Confirm password</label>
                  <input style="height: 50px;" [(ngModel)]="newPassword"  type="email" placeholder="Re-enter password"
                      class="form-control input-type">
  
          <div class="reset-btn ">
            <button style=" margin-bottom: 10px; margin-top: 10px" (click)="onReset()"
            class="btn btn-primary ">Reset Password</button>
          </div>
         
            
        </div>
      </div>
    </div>
  </div>
  