.inner-card2{
    margin-top: 50px;
}

.container-reset{
padding-top: 40px;
padding-left: 300px;

}

.card{
    background-color: rgb(241, 241, 247);
}

.reset-btn{
    padding-top: 40px;
    padding-left: 200px;
}
label{
    padding-top: 10px;
    padding-bottom: 10px;
}
