input:hover{


    box-shadow: 0 0 5pt 0.5pt #e43333;

}

.img-appointment{

    height: auto;
    width: 30%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}


.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}