

<div class="container justify-content-center ">

  <img class="img-appointment" src="../../../assets/img/login-banner.png" alt="">
  

<div class="col-md-6 offset-md-3" >

<div class="card">
  <div class="card-header">
    <span style="font-size: 30px">
      <img
        style="padding-right: 20px"
        src="../../../assets/icons8-planner-96.png"/>
        
        Booking Appointment</span
    >
  </div>
  <div class="card-body">
   
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="">FirstName</label>
            <input [(ngModel)]="name" type="text" readonly class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="">Email</label>
            <input [(ngModel)]="email" type="text" readonly class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="">Phone</label>
            <input [(ngModel)]="phone" type="text" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="">Date</label>
            <input [(ngModel)]="date" type="date" min="2021-01-23" class="form-control" />
          </div>
        </div>
      </div>
     

      <div class="container" style="margin-top: 20px;">
        <button
          (click)="onConformAppointment()"
          class="btn btn-outline-warning btn-md"
          style="margin-right: 10px"
        >Conform appointment
        </button>
        <button
        (click)="onBack()"
        class="btn btn-outline-primary btn-md"
        style="margin-right: 10px"
      >Back
      </button>
      </div>
    
  </div>
</div>

</div>



</div>