<div class="container-fluid">


  <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">HealthBuddy</h3>Admin
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home/dashboard">Home</a></li>
          <li class="breadcrumb-item active">NGO's</li>
        </ol>
      </div>
      <div class="col-md-7 align-self-center">
        <a (click)="addNgo()"
          class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down">Add new Ngo</a>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
  
  
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <!-- column -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">NGO </h4>
  
          <div *ngIf="ngos.length == 0">
            <h5>Ngo List is Empty</h5>
          </div>
          <div class="table-responsive">
            <table class="table" *ngIf="ngos.length > 0">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Country</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Description</th>
                  <th style="text-align: center;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ngo of ngos; let index = index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ ngo["ngo_name"] }}</td>
                  <td>{{ ngo["ngo_address"] }}</td>
                  <td>{{ ngo["ngo_city"] }}</td>
                  <td>{{ ngo["ngo_country"] }}</td>
                  <td>{{ ngo["ngo_phone"] }}</td>
                  <td>{{ ngo["ngo_email"] }}</td>
      
                  <td>{{ ngo["ngo_description"] }}</td>
                  <td>
                    <button
                      (click)="onEdit(ngo)"
                      style="margin-left: 10px"
                      class="btn btn-warning btn-sm"
                    >
                      Edit
                    </button>
                    <button
                      style="margin-left: 10px"
                      (click)="onDelete(ngo)"
                      class="btn btn-danger btn-sm"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  
  











<!-- Old code -->

<!-- 

<div class="container-fliud">
  <div class="card">
    <div class="card-header">
      <button (click)="addNgo()" class="btn btn-success btn-md float-right">
        Add
      </button>
      <h4 class="label">NGO List</h4>
    </div>
    <div *ngIf="ngos.length == 0">
      <h5>Docter List is Empty Please add Products</h5>
    </div>
    <div class="card-body">
      <table class="table table-responsive-md table-striped table-bordered" *ngIf="ngos.length > 0">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Description</th>
            <th style="text-align: center;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ngo of ngos; let index = index">
            <td>{{ index + 1 }}</td>
            <td>{{ ngo["ngo_name"] }}</td>
            <td>{{ ngo["ngo_address"] }}</td>
            <td>{{ ngo["ngo_city"] }}</td>
            <td>{{ ngo["ngo_country"] }}</td>
            <td>{{ ngo["ngo_phone"] }}</td>
            <td>{{ ngo["ngo_email"] }}</td>

            <td>{{ ngo["ngo_description"] }}</td>
            <td>
              <button
                (click)="onEdit(ngo)"
                style="margin-left: 10px"
                class="btn btn-warning btn-sm"
              >
                Edit
              </button>
              <button
                style="margin-left: 10px"
                (click)="onDelete(ngo)"
                class="btn btn-danger btn-sm"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
