<div class="container">
  <div class="main-body">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Doctor's Profile</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row gutters-sm" *ngFor="let doctor of doctors; let index = index">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="http://localhost:5001/doctor/image/{{doctor['image']}}" alt="Admin" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4>{{doctor['firstName']}} {{doctor["lastName"]}}</h4>
                <p class="text-secondary mb-1">Doctor</p>
                <!-- <button class="btn btn-primary " style="margin-right: 5px;">Follow</button> -->
                <button (click)="uplaodProfile(doctors[0])" class="btn btn-outline-primary">Update image</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{doctor['firstName']}} {{doctor["lastName"]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{doctor["email"]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{doctor["phone"]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">ZipCode</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{doctor["zip"]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{doctor["address"]}}, {{doctor["city"]}},{{doctor["country"]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Consultancy Fees</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{doctor["price"]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Status </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <button style="margin-left: 5px;" (click)="toggleActive(doctor)" [class.btn-outline-success]="doctor['active'] == 0"
              [class.btn-outline-danger]="doctor['active'] == 1" class="btn btn-sm">
              {{ doctor["active"] == 0 ? "Activate" : "Deactivate" }}
            </button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-9 text-secondary">
                <button (click)="onEdit(doctors[0])" class="btn btn-outline-success" style="margin-right: 10px;">Edit</button>
                  <button (click)="onChange(doctors[0])" class="btn btn-outline-info" style="margin-right: 10px;">Change Password</button>
                <button class="btn btn-outline-warning " routerLink="/home/dashboard">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
      <nav aria-label="breadcrumb" class="main-breadcrumb" style="align-items: stretch;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page" >Doctor's Certificates</li>
        </ol>
        <div class="certificate">
          <img class="rounded" src="http://localhost:5001/doctor/image/{{doctor['certificate']}}" alt="">
        </div>
        <br>
        <button (click)="uplaodCertificate(doctors[0])" class="btn btn-sm btn-outline-info">upload</button>
      </nav>
    </div>
    </div>
  </div>
</div>


