
<div class="container" >
  <div class="main-body">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/home/user/profile" style="cursor: pointer;">Doctor Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
          </ol>
        </nav>
        <div class="row gutters-sm">
          <div class="col-md-8" style="margin-left: 210px;">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0"> FirstName</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input [(ngModel)]="firstName" type="text" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0"> LastName</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input [(ngModel)]="lastName" type="text" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Specialist</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input [(ngModel)]="specialist" type="text" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input [(ngModel)]="email" type="text" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Consultancy Fees</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input [(ngModel)]="consultancy_fees" type="number" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <button (click)="editDoctor()" class="btn btn-outline-success" style="margin-right: 10px;" >Edit</button>
                    <button class="btn btn-outline-warning " routerLink="/home/doctor-profile">Back</button>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
  </div>


