<!-- //////////////////////////////////////////////////////// -->
<div style="background-color: #EAC7D1;padding-left: 90px;" class="jumbotron jumbotron-fluid ">
  <div class="col-md-5 float-right">

    <img class="article-img grow" src="../../../assets/img/docajju/article.svg" alt="">
  </div>



  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Articles</li>
    </ol>
  </nav>
  <!--  -->
  <h1 class="display-4">Articles List</h1>
  <p class="lead">Discover the best Articles</p>
  <br>

  
</div>







<section id="blog">
  <div class="container">

    

    <div class="row">

     


        <!-- Carousel items -->
        <div class="carousel-inner">

          <div class="item active">
            <div class="row">

              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="card text-center">
                  <img class="card-img-top"
                    src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?h=350&auto=compress&cs=tinysrgb"
                    alt="" width="100%">
                  <div class="card-block">
                    <h4 class="card-title">Post Title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                      eget dolor. Aenean massa.</p>
                    <a class="btn btn-default" href="#">Read More</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 "  *ngFor="let article of articles;">
                <div class="card text-center">
                  <img class="card-img-top"
                    src="https://images.pexels.com/photos/129105/pexels-photo-129105.jpeg?h=350&auto=compress&cs=tinysrgb"
                    alt="" width="100%">
                  <div class="card-block">
                    <h4 class="card-title"> {{article["article_title"]}}</h4>
                    <p class="card-text">{{article["article_description"]}}</p>
                    <!-- <a class="btn btn-default" href="#">Read More</a> -->
                  </div>
                </div>
              </div>

             

            </div> <!-- row -->
          </div> <!-- item -->


        </div>
      
    </div>

  </div>
</section>