<div class="container-fluid">


  <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">HealthBuddy</h3>Admin
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Articles</li>
        </ol>
      </div>
      <!-- <div class="col-md-7 align-self-center">
        <a (click)="addArticle()"
          class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down">Add new Article</a>
      </div> -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
  
  
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <!-- column -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Article </h4>
       
  
          <div *ngIf="articles.length == 0">
            <h5>Article List is Empty Please add Articles</h5>
          </div>
          <div class="table-responsive">
            <table class="table" *ngIf="articles.length > 0">
              <thead>
                <tr>
                  <th>No</th>
                  <th>WriterName</th>
                  <th>Title</th>
                  <th>Description</th>
                  <!-- <th>Image</th> -->
                  <th>CreatedOn</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let article of articles; let index = index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ article["firstName"] }}  {{ article["lastName"] }} </td>
                  <td>{{ article["article_title"] }}</td>
                  <td >{{ article["article_description"] }}</td>
                  <!-- <td>{{ article["article_image"] }}</td> -->
                  <td>{{ article["createdOn"] }}</td>
                 
                  <td>
                    <!-- <button
                      (click)="onEdit(article)"
                      style="margin-left: 10px"
                      class="btn btn-warning btn-sm"
                    >
                      Edit
                    </button> -->
                    <button
                      style="margin-left: 10px"
                      (click)="onDelete(article)"
                      class="btn btn-danger btn-sm"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  
  











<!-- old data -->
<!-- 




<div class="container-fliud">
    <div class="card ">
      <div class="card-header">
        <button (click)="addDoctor()" class="btn btn-success btn-md float-right">Add</button>
        <h4 class="label">Articles List</h4>
      </div>
      <div *ngIf="articles.length == 0">
        <h5>Docter List is Empty Please add Products</h5>
      </div>
      <div class="card-body">
        <table class="table table-responsive-md table-striped table-bordered" *ngIf="articles.length > 0">
          <thead>
            <tr>
              <th>No</th>
              <th>WriterName</th>
              <th>Title</th>
              <th>Description</th>
              <th>Image</th>
              <th>CreatedOn</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let article of articles; let index = index">
              <td>{{ index + 1 }}</td>
              <td>{{ article["firstName"] }}  {{ article["lastName"] }} </td>
              <td>{{ article["article_title"] }}</td>
              <td >{{ article["article_description"] }}</td>
              <td>{{ article["article_image"] }}</td>
              <td>{{ article["createdOn"] }}</td>
             
              <td>
                <button
                  (click)="onEdit(article)"
                  style="margin-left: 10px"
                  class="btn btn-warning btn-sm"
                >
                  Edit
                </button>
                <button
                  style="margin-left: 10px"
                  (click)="onDelete(article)"
                  class="btn btn-danger btn-sm"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
     -->