<div class="card">
    <div class="card-header">
      <h4>{{ article ? 'Update' : 'Add'}} article</h4>
    </div>
    <div class="card-body">
      <div class="form">
  
        <div class="row">
  
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Title</label>
              <input [(ngModel)]="title" type="text" class="form-control">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Description</label>
              <input [(ngModel)]="description"  type="text" class="form-control">
            </div>
          </div>
  

        <div style="margin-left: 10px;" class="form-group">
          <button (click)="onUpdate()" class="btn btn-success">{{article ? 'Update' : 'Add'}}</button>
          <a style="margin-left: 10px;" routerLink="/home/article/list-article" class="btn btn-danger">Cancel</a>
          
        </div>
  
  
      </div>
    </div>
  </div>