
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/home/dashboard">Home</a></li>
  <li class="breadcrumb-item"><a href="/home/ngo/list-ngo">NGO</a></li>
  <li class="breadcrumb-item active">Add new Ngo</li>
</ol>


<div class="card">
  <div class="card-header">
    <h4>{{ ngo ? 'Update' : 'Add'}} Ngo</h4>
  </div>
  <div class="card-body">
    <div class="form">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Name</label>
            <input [(ngModel)]="ngo_name" type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="">City</label>
            <input [(ngModel)]="ngo_city" type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Country</label>
            <input [(ngModel)]="ngo_country" type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="">Zip</label>
            <input [(ngModel)]="ngo_zip" type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Phone</label>
            <input [(ngModel)]="ngo_phone" type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="">Email</label>
            <input [(ngModel)]="ngo_email" type="text" class="form-control">
          </div>
        </div>
      </div>
      
  
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Address</label>
            <textarea [(ngModel)]="ngo_address" rows="3" style="resize: none;" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">Description</label>
            <textarea [(ngModel)]="ngo_description" rows="3" style="resize: none;" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button (click)="onUpdate()" class="btn btn-success">{{ngo ? 'Update' : 'Add'}}</button>
        <a style="margin-left: 10px;" routerLink="/home/ngo/list-ngo" class="btn btn-danger">Cancel</a>
        
      </div>


    </div>
  </div>
</div>