<div class="card">
  <div class="card-header">
    <h4>Update article</h4>
  </div>
  <div class="card-body">
    <div class="form">


      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">FirstName</label>
            <input [(ngModel)]="firstName" type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="">lastName</label>
            <input [(ngModel)]="lastName" type="text" class="form-control" />
          </div>
        </div>
      </div>


        <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                 <label for="">Specialist</label>
                 <input [(ngModel)]="specialist" type="text" class="form-control">
               </div>
             </div>
           </div>

           <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                 <label for="">Hospital Name</label>
                 <input [(ngModel)]="hospital_name" type="text" class="form-control">
               </div>
             </div>
           </div>

           <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                 <label for="">Address</label>
                 <input [(ngModel)]="address" type="text" class="form-control">
               </div>
             </div>
           </div>

           <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                 <label for=""> City</label>
                 <input [(ngModel)]="city" type="text" class="form-control">
               </div>
             </div>
           </div>

           <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                 <label for="">Country</label>
                 <input [(ngModel)]="country" type="text" class="form-control">
               </div>
             </div>
           </div>

           <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                 <label for="">zip</label>
                 <input [(ngModel)]="zip" type="text" class="form-control">
               </div>
             </div>
           </div>

           <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                 <label for="">phone</label>
                 <input [(ngModel)]="phone" type="text" ng-required="true" class="form-control">
               </div>
             </div>
           </div>

           <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                 <label for="email">Email</label>
                 <input [(ngModel)]="email" ng-required="true"  type="text" class="form-control">
               </div>
             </div>
           </div>

           <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                 <label for="">Password</label>
                 <input [(ngModel)]="password" type="text" class="form-control">
               </div>
             </div>
           </div>



        <div style="margin-left: 10px" class="form-group">
          <button (click)="onUpdate(doctor)" class="btn btn-success">
            Update
          </button>
          <a
            style="margin-left: 10px"
            routerLink="/home/doctor/doctor-list"
            class="btn btn-danger"
            >Cancel</a
          >
        </div>
      </div>
    </div>
  </div>

