<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">HealthBuddy</h3>Admin
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Doctors</li>
      </ol>
    </div>
    
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <!-- column -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Doctors</h4>

          <div *ngIf="doctors.length == 0">
            <h5>Docter List is Empty</h5>
          </div>
          <div class="table-responsive">
            <table class="table" *ngIf="doctors.length > 0">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Speciality</th>
                  <th>HospitalName</th>
                  <th>Country</th>
                  <th>Phone</th>
                  <th>Email</th>
                  <th>Active</th>
                  <th style="text-align: center;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doctor of doctors; let index = index">
                  <td>{{ index + 1 }}</td>
                  <td>{{ doctor["firstName"] }} {{ doctor["lastName"] }}</td>
                  <td>{{ doctor["specialist"] }}</td>
                  <td style="width:1px;">{{ doctor["hospital_name"] }}</td>
                  <td>{{ doctor["country"] }}</td>
                  <td>{{ doctor["phone"] }}</td>
                  <td>{{ doctor["email"] }}</td>
      
                  <td>{{ doctor["active"] }}</td>
                  <td>
                    <button style="margin-left: 5px;" (click)="toggleActive(doctor)"
                      [class.btn-success]="doctor['active'] == 0" [class.btn-danger]="doctor['active'] == 1"
                      class="btn btn-sm">
                      {{ doctor["active"] == 0 ? "Activate" : "Deactivate" }}
                    </button>
      
      
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->





<!-- old code -->

<!-- 
<div class="container-fliud">
  <div class="card ">
    <div class="card-header">
      <button (click)="addDoctor()" class="btn btn-success btn-md float-right">Add</button>
      <h4 class="label">Doctor List</h4>
    </div>
    <div *ngIf="doctors.length == 0">
      <h5>Docter List is Empty</h5>
    </div>
    <div class="card-body">
      <table class="table table-responsive-md table-striped table-bordered" *ngIf="doctors.length > 0">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Speciality</th>
            <th>HospitalName</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Email</th>

            <th>Active</th>
            <th style="text-align: center;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doctor of doctors; let index = index">
            <td>{{ index + 1 }}</td>
            <td>{{ doctor["firstName"] }} {{ doctor["lastName"] }}</td>
            <td>{{ doctor["specialist"] }}</td>
            <td style="width:1px;">{{ doctor["hospital_name"] }}</td>
            <td>{{ doctor["country"] }}</td>
            <td>{{ doctor["phone"] }}</td>
            <td>{{ doctor["email"] }}</td>

            <td>{{ doctor["active"] }}</td>
            <td>
              <button style="margin-left: 5px;" (click)="toggleActive(doctor)"
                [class.btn-success]="doctor['active'] == 0" [class.btn-danger]="doctor['active'] == 1"
                class="btn btn-sm">
                {{ doctor["active"] == 0 ? "Activate" : "Deactivate" }}
              </button>


            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->