

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }



/*  */
.floatRight{float:right;margin-left:20px}

.article-img{

  width: 70%;
  height: auto;
  
  

}
.art-img{
  width: auto;
  height: 20%;
}


.home-img{

  width: 100%;
  height: auto;

}



.nav1{

  color: #262626;
}




.pastel-home{

  background-color: #FFCE6E;
}


.about-us{

  text-align: center;
 
  margin-bottom: 50px;
}

.profile-photo{
  margin: 20px;
 height: 150px;
 width: 150px;
  border-radius: 75px;
 align-self: center;

}
 .card{
  width: 400px;
  height: 350px;
  margin-top: 100px;
  display: inline-block;
  margin-right: 50px;
} 
.text-centre{

  text-align: center ;
}

.color-ajju{
  background-color: #FAD7A0;
}

.card-img-top{
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

.article{
  width: 355px;
  height: 245px;
  border-radius: 5px;
  padding-right: 30px;

}