
<div style="background-color: #EAC7D1;padding-left: 90px;" class="jumbotron jumbotron-fluid ">
  <div class="col-md-5 float-right">
    
    <img class="article-img grow" src="../../../assets/img/docajju/article.svg" alt="">
  </div>
  
  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Articles</li>
    </ol>
  </nav>
  <!--  -->
  <h1 class="display-4">Articles List</h1>
  <button (click)="addArticle()" class="btn btn-outline-danger btn-sm ">Add</button>
  <br>
</div>
  <div class="container col-md-12 offset-1" >
    
      <div class="card col-md-6" *ngFor="let article of articles;">
        <div class="card-body">
          <div class="image">
          <img *ngIf="article['article_image']" class="article" src="http://localhost:5001/articles/image/{{article['article_image']}}" alt="">
          <button (click)="uploadImage(article)" *ngIf="!article['article_image']" class="btn btn-sm btn-info">upload</button>
          </div>
          <p class="card-text">Title :- {{article["article_title"]}}</p>
          <p class="card-text">Description- {{article["article_description"]}}</p>
          <button (click)="onDelete(article['article_id'])"  class="btn btn-danger btn-sm">Delete</button>             </div>
        </div>


  </div>








