
<div class="container">
  <div class="main-body">
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Doctor's Appointments</li>
      </ol>
    </nav>
    <div class="app-card">
    <!-- /Breadcrumb -->
    <div class="row gutters-sm" *ngFor="let user of appointments; let index = index">
     
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">User Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user['firstName']}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Date</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user["date"]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">User Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user["phone"]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">User Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user["email"]}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Status </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <button style="margin-left: 5px;"
                (click)="toggleActive(user)"
                [class.btn-outline-success]="user['isApproved'] == 0"
                [class.btn-outline-danger]="user['isApproved'] == 1"
                class="btn btn-sm">
                {{ user["isApproved"] == 0 ? "Approve" : "Reject" }}
              </button>  
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-9 text-secondary">
                <button class="btn btn-outline-warning " routerLink="/home/dashboard">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    </div>
    <hr>
    </div>
  </div>
</div>
