<div style="background-color: #cfb6eb;padding-left: 90px;" class="jumbotron jumbotron-fluid ">

    <div class="col-md-4 float-right">

        <img class="ngo-img grow" src="../../assets/img/exc.svg" alt="">

    </div>
    <div class="col-md-4 float-right">

        <img class="ngo-img grow" src="../../assets/img/exce.svg" alt="">

    </div>

    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Excercise</li>
        </ol>
    </nav>
    <!--  -->
    <h1 class="display-4">Excercise</h1>
    <p class="lead">"Exercise should be regarded as a tribute to the heart."</p>
</div>
<br>








<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">20 Min Full Body Workout Routine for Beginners</h5>
            <p class="card-text">This is a 20 minute beginner’s full body workout routine for both men and women that you can do with minimum equipment at home. Of course, the gyms have now been open but how really safe are they is questionable. But not to worry. Having doing this workout myself from the last 3 months, I assure that it can definitely replace your workout in the gym. It will not just help you build muscle and lose that extra fat but also will bring about true shape of your body. I have designed this workout in the form of 4 circuits of 4 minutes each tapping almost every major muscle group. Follow along.</p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AzV3EA-1-yM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    
</div>
<hr>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">Home Cardio workout</h5>
            <p class="card-text">30-Minute HIIT Cardio Workout with Warm Up - No Equipment at Home | SELF.</p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ml6cT4AZdqI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    
</div>
<hr>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">Fat burning workout</h5>
            <p class="card-text">30 minute fat burning home workout for beginners. Achievable, low impact results.</p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gC_L9qAHVJ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    
</div>
<hr>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">6 BEST Biceps Exercises</h5>
            <p class="card-text">When it comes to picking the best biceps exercises, we need to look at which ones compliment the functions of the biceps best. In this video, I am going to pick what I feel are the 6 best exercises to grow bigger biceps and as always, I am going to provide the science behind why these 6 exercises should be included in your biceps training,</p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iGYeHsgb4CY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    
</div>
<hr>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">How To Do SQUATS FOR BEGINNERS | Correct Form & Mechanics | STEP BY STEP GUIDE</h5>
            <p class="card-text">This video will show you how to do a squat with correct form. This is the ideal beginners guide to squats because it will show you how to do a squat correctly and the mechanics behind it.  However because of the level of detail on the mechanics of squatting, this is also a great video for anyone who does squats and wants to make sure they know how to squat properly.

                There are three elements of how to squat that are addressed in this squats for beginners video.  The first piece to pay attention to when you want to know how to do a squat is food positioning.  This proper squats form video will show you the ideal foot positioning to get the most out of your squatting and to prevent injury while squatting.  The next piece on how to squat correctly is how and when to perform the hip hinge.  When learning how to squat properly it’s very important that the upper body is in the correct position to avoid injury of the back.</p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/otzWCWpuW-A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    
</div>
<hr>