.card{


    height: auto;
    width: 70%;
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}




.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }



/*  */
.floatRight{float:right;margin-left:20px}

.ngo-img{

  width: 100%;
  height: auto;

}

.home-img{

  width: 100%;
  height: auto;

}

.hospital-img{

  max-width: 100%;
  height: auto;
  align-items: flex-end;
}


.list-pic{

  width: 100%;
  height: auto;
}