
<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a routerLink="/home/dashboard">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/home/ngo/ngo-list">ngo</a></li>
      <li class="breadcrumb-item active  " aria-current="page"  >ngo-Details</li>
    </ol>
  </nav>

    <div class="card" style="width: 50rem;">
      <div class="card-header" >
        NGO Details
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5>Name: {{ngo["ngo_name"]}}</h5>
          <h5>Address: {{ngo["ngo_address"]}}  </h5>
          <h5>City: {{ngo["ngo_city"]}} </h5>
          <h5>Country:  {{ngo["ngo_country"]}} </h5>
          <h5>Zip: {{ngo["ngo_zip"]}} </h5>
          <h5>Phone: {{ngo["ngo_phone"]}} </h5>
          <h5>Email: {{ngo["ngo_email"]}} </h5>
          <h5>Description: {{ngo["ngo_description"]}} </h5>
        </li>
        <li style="padding: 5px;">
          <!-- <button (click)="onUpdate(doctor)" class="btn btn-md btn-success">Update</button> -->
          <button style="margin-left: 20px;"  (click)="onBack()" class="btn btn-md btn-warning">Back</button>
        </li>
       
      </ul>
    </div>
    </div>