<body>
    <div class="outer col-md-4">
      <form action="php/signup.php" method="POST">
        <h1 id="name">Sign up</h1>
        <div class="signup">
            <div class="form-group">
                <label for="firstName">FirstName</label>
                <input
                  required
                  [(ngModel)]="firstName"
                  name="firstName"
                  type="firstName"
                  class="form-control"
                  placeholder="enter your firstName"
                />
              </div>

              <div class="form-group">
                <label for="lastName">LastName</label>
                <input
                  required
                  [(ngModel)]="lastName"
                  name="lastName"
                  type="lastName"
                  class="form-control"
                  placeholder="enter your last name"
                />
              </div>

              <div class="form-group">
                <label for="phone">Phone</label>
                <input
                  required
                  [(ngModel)]="phone"
                  name="phone"
                  type="phone"
                  class="form-control"
                  placeholder="enter your phone"
                />
              </div>


          <div class="form-group">
            <label for="email">Email</label>
            <input
              required
              [(ngModel)]="email"
              name="email"
              type="email"
              class="form-control"
              placeholder="enter your email"
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              required
              [(ngModel)]="password"
              name="password"
              type="password"
              class="form-control"
              placeholder="enter your password"
            />
          </div>

          <div class="form-group">
            <div>
              Already have an account?
              <input
                routerLink="/auth/login"
                type="submit"
                class="btn btn-warning"
                value="Login"
              />
            </div>
            <input
              (click)="onSignup()"
              type="submit"
              class="btn btn-success login-btn"
              value="Sign up"
            />
          </div>
        </div>
      </form>
    </div>
</body>


<!-- 
firstName" : "ajinkya",
	"lastName" : "uttarwar",
	"phone" : "9730275919",
	"email" : "ajjudac@gmail.com",
	"password" : "test"  -->