

*{
    padding: none;
    margin: none;
}

.outer{
    background-color:white;
    border-radius: 20px;
    top:10px;
    bottom:20px;
    left:100px;
    right:40px;
    height: 57s0px;
  
    
}

body{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/05/07/59/185976bd9a1a755.jpg );
    -webkit-background-size:cover;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

#name{
    text-align: center;
    font-weight: bold;
}
input::-webkit-input-placeholder{
    size: 10px;
}


