/* You can add global styles to this file, and also import other style files */

/* 
body { 
    background-image: url("assets/img/Body/gradient.jpg"); 
    background-position: right top; 
    background-repeat: no-repeat;
  }  */