<div style="background-color: #FFF3F2 ;padding-left: 90px;" class="jumbotron jumbotron-fluid ">

    <div class="col-md-4 float-right">

        <img class="ngo-img grow" src="../../assets/img/nutri.svg" alt="">

    </div>
    <div class="col-md-4 float-right">

        <img class="ngo-img grow" src="../../assets/img/nutrition.jpg" alt="">

    </div>

    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nutrition</li>
        </ol>
    </nav>
    <!--  -->
    <h1 class="display-4">Nutrition</h1>
    <p class="lead">"Optimum nutrition is the medicine of the tomorrow."</p>
</div>
<br>








<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">The surprisingly dramatic role of nutrition in mental health | Julia Rucklidge | TEDxChristchurch</h5>
            <p class="card-text">This talk was given at a local TEDx event, produced independently of the TED Conferences. In this critically important talk, clinical psychologist Julia Rucklidge explores a range of scientific research, including her own, showing the significant role played by nutrition in mental health or illness. </p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3dqXHHCc5lA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr>
</div>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">4 Tips on How to Eat Right – Sadhguru</h5>
            <p class="card-text">Sadhguru shares 4 practical tips on how to eat in a way that makes you healthy - naturally and effortlessly.</p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/vEA2puiERK0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr>
</div>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">Why is the Science of Nutrition Ignored in Medicine? | T. Colin Campbell | TEDxCornellUniversity
            </h5>
            <p class="card-text">Professor Campbell is a well-established researcher and author. His popular book (co-authored with his son, a physician) titled The China Study (2005), has been translated into more than 50 foreign languages and has sold well over 2 million copies. </p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/tmWoWOM16uE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr>
</div>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">BEGINNERS GUIDE TO HEALTHY EATING | 15 healthy eating tips
            </h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
           

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jwWpTAXu-Sg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr>
</div>

