<!--  -->
<div class="col-md-4 float-right">
  <img class="home-img grow" src="../../assets/img/album/home.png" alt="" />
</div>
<div class="col-md-8">
  <div class="jumbotron jumbotron-fluid btn-warning bg-transparent">
    <h1 class="display-4">Hello {{ firstName }}, welcome to HealthBuddy!</h1>
    <p class="lead">Your only destination for healthcare information.</p>
    <hr class="my-4" />
    <p>
      It uses utility classes for typography and spacing to space content out
      within the larger container.
    </p>
    <a class="btn btn-dark btn-lg grow" href="#" role="button"
      >Learn more about us</a
    >
  </div>
</div>

<hr />
<!--  -->

<div class="jumbotron jumbotron-fluid  bg-warning">
  <div class="container grow">
    <h1 class="display-4">Services</h1>
    <p class="lead">
      Discover the best doctors, clinic & hospital, ngo in the city nearest to
      you
    </p>
    <br />

    <div class="row">
      <div class="col-sm-3">
        <div class="card grow">
          <div class="card-body">
            <img
              src="../../assets/Art/doctor.png"
              class="card-img-top"
              alt="..."
            />
            <h5 class="card-title">Find Doctors</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a routerLink="/home/doctor/doctor-list" class="btn btn-warning"
              >Doctors</a
            >
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card grow">
          <div class="card-body">
            <img
              src="../../assets/Art/hospital.png"
              class="card-img-top"
              alt="..."
            />
            <h5 class="card-title">Find Hospitals</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a routerLink="/home/hospital/hospital-list" class="btn btn-warning"
              >Hospitals</a
            >
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card grow">
          <div class="card-body">
            <img
              src="../../assets/Art/ngo.webp"
              class="card-img-top"
              alt="..."
            />
            <h5 class="card-title">Find NGO</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a routerLink="/home/ngo/ngo-list" class="btn btn-warning">NGO</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card grow">
          <div class="card-body">
            <img
              src="../../assets/Art/article.png"
              class="card-img-top"
              alt="..."
            />
            <h5 class="card-title">Explore Articles</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a routerLink="/home/article/article-list" class="btn btn-warning"
              >Articles</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>


<div class="container card-container "  style="background-color: rgb(226, 196, 24);">
<div style="padding-top: 20px; padding-bottom: 20px;">
  <h2 style="font-weight: bold;">Book an appointment for an in-clinic consultation</h2>
  <h5>Find experienced doctors across all specialties</h5>
</div>

  
  <div class="card  carding " (click)="onChange(1)" style="width: 18rem; margin-top: 10px;">
    <img class="card-img-top" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-dentist@2x.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dentist</h5>
      <p class="card-text">Teething troubles? Schedule a dental checkup</p>
    </div>
  </div>
  <div class="card  carding" (click)="onChange(2)" style="width: 18rem; margin-top: 10px;">
    <img class="card-img-top" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-gynecologist@2x.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Gynecologist</h5>
      <p class="card-text">Explore for women’s health, pregnancy  treatments</p>
   
    </div>
  </div>
  <div class="card  carding" (click)="onChange(3)" style="width: 18rem; margin-top: 10px;">
    <img class="card-img-top" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-dietitian@2x.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Dietitian</h5>
      <p class="card-text">Get guidance on weight management and  nutrition</p>
     
    </div>
  </div>
  <div class="card carding " (click)="onChange(3)" style="width: 18rem; margin-top: 10px;">
    <img class="card-img-top" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-physiotherapist@2x.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Physiotherapist</h5>
      <p class="card-text">Pulled a muscle? Get it treated by a trained physiotherapist</p>

    </div>
  </div>
  <div class="card carding " (click)="onChange(4)" style="width: 18rem; margin-top: 10px;">
    <img class="card-img-top" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-general-surgeon@2x.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">General surgeon</h5>
      <p class="card-text">Need to get operated? Find the right surgeon</p>
    
    </div>
  </div>
  <div class="card carding " (click)="onChange(5)" style="width: 18rem; margin-top: 10px;">
    <img class="card-img-top" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-orthopedist@2x.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Orthopedist</h5>
      <p class="card-text">For Bone and Joints issues, spinal injuries and more</p>
  
    </div>
  </div>
  <hr>
</div>


<hr>

<div class="row" style="background-color: rgb(245, 252, 255);padding: 20px;">
  <div class="col-sm-5">
    <h2>
      Read top articles from health experts
    </h2>
    <h6 style="margin-bottom: 40px;margin-top: 40px;"> 
      Health articles that keep you informed about good health practices and achieve your goals
    </h6>
    <button
    (click)="onSearchArticles()"
    class="btn btn-outline-success"
    style="margin-right: 10px"
  >
    see all article
  </button>
  </div>
  <div class="col-sm-3"  *ngFor="let article of tempArticles">

    <div class="card carding " (click)="onChange(5)" style="width: 18rem; margin-top: 10px;">
      <img class="card-img-top" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-orthopedist@2x.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{article['article_title']}}</h5>
        <p class="card-text">{{article['article_description']}}</p>
    
      </div>
    </div>

  </div>
 
  <!-- <div class="col-sm-3" style="margin-left: 10px;">

    <div class="card carding " (click)="onChange(5)" style="width: 18rem; margin-top: 10px;">
      <img class="card-img-top" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-orthopedist@2x.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Orthopedist</h5>
        <p class="card-text">For Bone and Joints issues, spinal injuries and more</p>
    
      </div>
    </div>

  </div> -->


</div>




<hr>


<div class="container">

  
  
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding-bottom: 30px;">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner " style="background-color: antiquewhite;">
      
      <h2 style="padding-left: 350px; padding-top: 50px;">What our users have to say </h2>
      <div class="carousel-item active my-corousel">
      <div style="width: 600px; font-size: 20px;">
        Very good site. Well thought out about booking/rescheduling/canceling an appointment. Doctor's feedback mechanism is good and describes all the basics in a good way
      </div>
      <div>
       <p style="font-weight: bold; padding-top: 25px;padding-left: 200px;">Girish Shelke</p>
       
      </div>
    </div>
    <div class="carousel-item  my-corousel">
      <div style="width: 600px; font-size: 20px;">
        Very helpful. Far easier than doing same things on computer. Allows quick and easy search with speedy booking. Even maintains history of doctors visited.
      </div>
      <div>
        <p style="font-weight: bold; padding-top: 25px;padding-left: 200px;">Sanket Sumant</p>
        
      </div>
    </div>
    <div class="carousel-item  my-corousel">
      <div style="width: 600px; font-size: 20px;">
        Very easy to book,maintain history. Hassle free from older versions of booking appointment via telephone.. Thanks Practo for making it simple.
      </div>
      <div>
        <p style="font-weight: bold; padding-top: 25px;padding-left: 200px;">Dhiraj Mandade</p>
        
      </div>
    </div>
    
    <div class="carousel-item  my-corousel">
      <div style="width: 600px; font-size: 20px;">
        Very easy to book,maintain history. Hassle free from older versions of booking appointment via telephone.. Thanks Practo for making it simple.
      </div>
      <div>
        <p style="font-weight: bold; padding-top: 25px;padding-left: 200px;">Shreyas Ugale</p>
        
      </div>
    </div>
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<!-- 
  
  about us  
  

<div class="jumbotron jumbotron-fluid color-ajju grow">
  <div class="container">
    <h1 id="about-us" class="display-4 about-us">About Us</h1>

    <div class="container md-6">
      <div class="card-deck grow">
        <div class="card grow">
          <img
            src="../../assets/img/profile-photo/ajju.jpg"
            class="card-img-top profile-photo"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title grow text-centre">Ajinkya Uttarwar</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card grow">
          <img
            src="../../assets/img/profile-photo/girish.jpg"
            class="card-img-top profile-photo"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title grow text-centre">Girish Shelke</h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card grow">
          <img
            src="../../assets/img/profile-photo/montya.jpg"
            class="card-img-top profile-photo"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title grow text-centre">Ajinkya Gothan</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
