


/* card  code */
.info-orange { background: linear-gradient(135deg, rgb(251, 192, 45) 0%,rgb(245, 127, 23) 100%); }
.info-green { background-color: #7F6CF9 ; }
.info-brown { background-color: #B2ADE2; }
.info-blue { background-color: #FF7564 ; }
.info-white { background-color: #00848A ; }

.info {
  position: relative;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
  
 
}

.info .header {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.info span {
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.info img {
  width: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#id{
    margin-left: 10px;
}

.container-fluid{
  padding-top: 60px;
}