<div class="container-fluid">

  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="/home/dashboard">Home</a></li>
  </ol>

  <div class="row">
    <div routerLink="/home/doctor/list-doctor" id="card" class="col-md-3">
      <div class="info info-green">
        <div class="header">Doctor</div>
        <span>{{doctor.length}}</span>
        <img src="assets/doctor1.png" alt="" />
      </div>
    </div>

    <div routerLink="/home/patient/list-patient" class="col-md-3">
      <div class="info info-brown">
        <div class="header">patient</div>
        <span>{{patient.length}}</span>
        <img src="assets/patient.png" alt="" />
      </div>
    </div>

    <div routerLink="/home/appointment/list-appointment" class="col-md-3">
      <div class="info info-blue">
        <div class="header" >{{appointment.length}}</div>
        <span>2</span>
        <img src="assets/shopping_cart.png" alt="" />
      </div>
    </div>
    <div routerLink="/home/ngo/list-ngo" class="col-md-3">
      <div class="info info-white">
        <div class="header">NGO</div>
        <span>{{ngo.length}}</span>
        <img src="assets/shopping_cart.png" alt="" />
      </div>
    </div>
  </div>
</div>
