.outer{
    background-color:white;
    border-radius: 20px;
    top:50px;
    bottom:20px;
    left:750px;
    right:40px;
    height: 380px;
    padding: 20px;
    
}
body{
    background-image: url(https://image.freepik.com/free-photo/doctor-s-stethoscope-with-blue-background_23-2147652363.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

#name{
    text-align: center;
    font-weight: bold;
}

label{
    font-size: 20px;
}
.login-btn{
    margin-top: 10px;
    font-size: 20px;
}