<!-- 
<div class="row" style="margin-top:50px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form">
        <div class="form-group">
          <label for="">Email</label>
          <input [(ngModel)]="email" type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input [(ngModel)]="password" type="password" class="form-control">
        </div>
        <div class="form-group">
          <button (click)="onLogin()" class="btn btn-success">Login</button>
          <a routerLink="/signup" class="btn btn-warning float-right">Signup</a>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div> -->


  <body>
    <div class="outer col-md-4">
      <form action="" method="POST">
        <h1 id="name">Login</h1>
        <div class="signup">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              required
              [(ngModel)]="email"
              name="email"
              type="email"
              class="form-control"
              placeholder="enter your email"
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              required
              [(ngModel)]="password"
              name="password"
              type="password"
              class="form-control"
              placeholder="enter your password"
            />
          </div>

          <div class="form-group">
            <div>
              Don't have an account?
              <input
                routerLink="/auth/signup"
                type="submit"
                class="btn btn-warning"
                value="Sign up"
              />
            </div>
            <input
              (click)="onLogin()"
              type="submit"
              class="btn btn-success login-btn"
              value="Login"
            />
          </div>
        </div>
      </form>
    </div>
</body>

