<div class="container-fluid">


<!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">HealthBuddy</h3>Admin
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Patients</li>
      </ol>
    </div>
    <!-- <div class="col-md-7 align-self-center">
      <a href="https://wrappixel.com/templates/adminwrap/"
        class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down">Upgrade To pro</a>
    </div> -->
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->


<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Patient </h4>
        

        <div *ngIf="patients.length == 0">
          <h5>Patients List is Empty</h5>
        </div>
        <div class="table-responsive">
          <table class="table" *ngIf="patients.length > 0">
            <thead>
              <tr>
                <th>No</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Email</th>

                <th>Active</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let patient of patients; let index = index">
                <td>{{ index + 1 }}</td>
                <td>{{ patient["firstName"] }} {{ patient["lastName"] }}</td>
                <td>{{ patient["address"] }}</td>
                <td style="width: 1px">{{ patient["city"] }}</td>
                <td>{{ patient["country"] }}</td>
                <td>{{ patient["phone"] }}</td>
                <td>{{ patient["email"] }}</td>

                <td>{{ patient["active"] }}</td>
                <td>
                  <button (click)="toggleActive(patient)" [class.btn-success]="patient['active'] == 0"
                    [class.btn-danger]="patient['active'] == 1" class="btn btn-sm">
                    {{ patient["active"] == 0 ? "Activate" : "Deactivate" }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->



















<!-- old -->

<!-- 
<div class="container-fliud">
  <div class="card">
    <div class="card-header">
      <button (click)="addDoctor()" class="btn btn-success btn-md float-right">
        Add
      </button>
      <h4 class="label">Patient List</h4>
    </div>
    <div *ngIf="patients.length == 0">
      <h5>Patients List is Empty Please add Products</h5>
    </div>
    <div class="card-body">
      <table class="table table-responsive-md table-striped table-bordered" *ngIf="patients.length > 0">
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Email</th>

            <th>Active</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients; let index = index">
            <td>{{ index + 1 }}</td>
            <td>{{ patient["firstName"] }} {{ patient["lastName"] }}</td>
            <td>{{ patient["address"] }}</td>
            <td style="width: 1px">{{ patient["city"] }}</td>
            <td>{{ patient["country"] }}</td>
            <td>{{ patient["phone"] }}</td>
            <td>{{ patient["email"] }}</td>

            <td>{{ patient["active"] }}</td>
            <td>
              <button (click)="toggleActive(patient)" [class.btn-success]="patient['active'] == 0"
                [class.btn-danger]="patient['active'] == 1" class="btn btn-sm">
                {{ patient["active"] == 0 ? "Activate" : "Deactivate" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->