
<div class="container" >
    <div class="main-body">
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home/dashboard">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/home/user/profile" style="cursor: pointer;">Doctor Profile</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Article </li>
            </ol>
          </nav>
          <div class="row gutters-sm">
            <div class="col-md-8" style="margin-left: 210px;">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Article Title</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input [(ngModel)]="article_title" type="text" class="form-control">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Article Description</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input [(ngModel)]="article_description" rows="10"  type="text" class="form-control">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <button (click)="addArticle()" class="btn btn-outline-success" style="margin-right: 10px;" >Add</button>
                      <button class="btn btn-outline-danger " routerLink="/home/article-list">Back</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
    </div>
  
  
