<!-- <header>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card text-center box transbox">

                <div class="card-body">
                    <div class="form">
                        <div class="login">FORGOT PASSWORD</div>
                        <div class="form-group" style="margin-top: 20px;">
                            <label class="float-left" for="">Email</label>
                            <input style="height: 50px;" [(ngModel)]="newEmail" type="email" placeholder="Enter Email"
                                class="form-control input-type">
                        </div>
                       
                        <div class="form-group ">
                            <button style=" margin-bottom: 10px; margin-top: 10px" (click)="onForgot()"
                                class="btn btn-primary btn-lg btn-block float-left">Send OTP</button>
                        </div>
                        <div class="form-group">
                            <a style="color: white;" routerLink='/auth/login' class="btn btn-success btn-lg btn-block float-right" style="margin-top: 5px;">Signin</a>

                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>

</header> -->

<div class="container">
    <img width="200px" style="margin-top: 30px;" src="../../../assets/logo.png">
</div>


<div class="container-reset">
    <div class="card" style="width: 40rem">
      <div class="card-header">
        <h2>FORGOT PASSWORD</h2>
      </div>
      <div class="card-body" style="margin: 40px">
        <div class="inner-card1">
          <h6 style="margin: 10px">Your E-mail</h6>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img height="20px" width="20px" src="../../../assets/icons8-email-64.png"></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your E-mail"
              aria-label="Username"
              aria-describedby="basic-addon1"
              width="50px"
              [(ngModel)]="newEmail"
            />
          </div>

  
          <div class="reset-btn ">
              <button type="button" (click)="onForgot()" class="btn btn-primary">Send Otp</button>
              <button style="margin-left: 10px;" type="button" routerLink='/auth/login' class="btn btn-primary">SignIn</button>
          </div>
         
            
        </div>
      </div>
    </div>
  </div>
  