<div style="background-color: #FFE9DB;padding-left: 90px;" class="jumbotron jumbotron-fluid ">

  <div class="col-md-6 float-right">

    <img class="hospital-img grow float-right" src="../../../assets/img/docajju/hosp.svg" alt="">
  </div>




  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Hospitals</li>
    </ol>
  </nav>
  <!--  -->
  <h1 class="display-4">Hospitals List</h1>
  <p class="lead">Discover the best Hospitals</p>
  <br>

  
</div>



<!-- finalup -->



<div class="py-5 bg-light team1">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center">
        <h3 class="mb-3">Find Hospitals</h3>
        <h6 class="subtitle font-weight-normal"></h6>
      </div>
    </div>
    <div class="row">
      <!-- column  -->
      <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters">
            <div class="col-md-5 pro-pic"  >

              <img class="list-pic" src="../../../assets/img/hospital-list.jpg" alt="">
              
              <div class="card-img-overlay">
                <ul class="list-inline position-relative text-center">
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1 "><i class="fa fa-facebook-official"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="fa fa-twitter"></i></a></li>
                 
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h5 class="mb-3 font-weight-medium">Niramaya Hospital</h5>
                <ul>
                  <li>Pune</li>
                  <li>+91 9730275919</li>
                  <br>
                  <li><button style="margin-left: 10px" class="btn btn-warning btn-sm">
                    Details
                  </button></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
      <!-- column  -->
      <div class="col-lg-6" *ngFor="let hospital of hospitals;">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters card-shadow">
            <div class="col-md-5 pro-pic" >
              <img class="list-pic" src="../../../assets/img/hospital-list.jpg" alt="">
              <div class="card-img-overlay">
                <ul class="list-inline position-relative text-center">
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1 "><i class="fa fa-facebook-official"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="fa fa-twitter"></i></a></li>
                  
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h6 class="mb-3 font-weight-medium">{{hospital["hospital_name"]}}</h6>
                <ul>
                  <li>{{hospital["hospital_address"]}}</li>
                  <li>+91-{{hospital["phone"]}}</li>
                  <br>
                  <li><button style="margin-left: 10px" class="btn btn-warning btn-sm">
                    Details
                  </button></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Row -->
        </div>
      </div>
      <!-- column  -->
    </div>
   
  </div>
</div>
