<div style="background-color: #FFE9DB;padding-left: 90px;" class="jumbotron jumbotron-fluid ">

  <div class="col-md-6 float-right">

    <img class="hospital-img grow float-right" src="../../../assets/img/docajju/hosp.svg" alt="">
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Hospitals</li>
    </ol>
  </nav>

  <h1 class="display-4">Hospitals List</h1>
  <button (click)="onAddHospital()" class="btn btn-info btn-sm">Add</button>

  <br>

  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-3"> -->
      <div class="card" style="margin-left: 20px;" *ngFor="let hospital of hospitals;">
        <div class="card-body">
          <img src="../../assets/Art/doctor.png" class="card-img-top " alt="...">
          <h6 class="card-title text-centre">Doctor Name : {{hospital['firstName']}} {{hospital['lastName']}} </h6>
          <h6 class="card-title text-centre">Name : {{hospital["hospital_name"]}} </h6>
          <p class="card-text">Address : {{hospital["hospital_address"]}}</p>
          <p class="card-text">Email: {{hospital["hospital_email"]}}</p>
          <p class="card-text">Phone: {{hospital["hospital_phone"]}}</p>
          <button (click)="onEditHospital(hospital)" class="btn btn-warning btn-sm">
            Edit
          </button>
          <button (click)="onDelete(hospital)" style="margin-left: 10px" class="btn btn-danger btn-sm">
            Delete
          </button>
        </div>
      </div>


    </div>

  </div>
</div>



<!-- finalup -->