

<!-- ajju final user -->

  
  <nav class=" navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand"  routerLink="/home/dashboard">
      <img class=" brand-logo img-responsive img-fluid  "   src="../../assets/img/logo/hblogo.png"  alt="">
    </a>
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-left">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/home/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/doctor/doctor-list">Doctor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/hospital/hospital-list">Hospital</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/ngo/ngo-list">NGO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/article/article-list">Articles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tutorials
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/home/excercise">Excersise</a>
          <a class="dropdown-item" routerLink="/home/yoga">Yoga</a>
          <a class="dropdown-item" routerLink="/home/nutrition">Nutrition</a>
          <a class="dropdown-item" routerLink="/home/meditation">Meditation</a>
        </div>
      </li>

      
      
      
    </ul>
    
    
    <ul style="margin-right: 20px;" class="navbar-nav ml-auto">

      <li>
        <img
          src="./../../assets/icons8-planner-96.png"
          alt=""
          height="40px"
          width="40px"
          routerLink="/home/doctor/appointment-booking"
        />
      </li>
      <li><a class="nav-link float-right" style="padding-top: 14px;" routerLink="/home/covid"> COVID-19</a></li>
      <li><a class="nav-link float-right" style="padding-top: 14px;" routerLink="/home/about-us"> About Us</a></li>
      
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img
          src="./../../assets/icon1.png"
          alt=""
          height="40px"
          width="40px"
          
          />
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/home/user/profile">Profile</a>
          <a class="dropdown-item" routerLink="/home/user/reset-password">Reset Password</a>
        <a class="dropdown-item" (click)="onLogout()">Logout</a>
        
      </div>
    </li>
    <li
    style="
        margin-top: 10px;
        font-size: 20px;
        margin-left: 5px;
        color: rgb(255, 2, 2);
        "
    >
    {{ name }}
  </li>
  
</ul>


</div>
</nav>






<!-- router -->


  
  <router-outlet (activate)="onActivate($event)"></router-outlet>


  <app-footer>
