
<div class="container" >
  <div class="main-body">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/home/user/profile" style="cursor: pointer;">Doctor Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
          </ol>
        </nav>
        <div class="row gutters-sm">
          <div class="col-md-8" style="margin-left: 210px;">
            <div class="card mb-3">
              <div class="card-header">
                <h4>{{ hospital ? 'Update' : 'Add'}} Hospital</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0"> Hospital Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input [(ngModel)]="hospital_name" type="text" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0"> Hospital Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input [(ngModel)]="hospital_address" type="text" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Hospital Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input [(ngModel)]="hospital_phone" type="tel" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Hospital Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      <input [(ngModel)]="hospital_email" type="email" class="form-control">
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <button (click)="onUpdateHospital()" class="btn btn-outline-success" style="margin-right: 10px;" >{{hospital ? 'Update' : 'Add'}}</button>                    
                    <button class="btn btn-outline-warning " routerLink="/home/hospital">Back</button>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
  </div>





