<div class="jumbotron jumbotron-fluid " style="background-color: #DEDBF0;padding-left: 90px;">


  <div class="col-md-6 float-right">

    <img class="doc-img grow" src="../../../assets/img/docajju/doctortwo.svg" alt="">
  </div>


  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Doctor</li>
    </ol>
  </nav>
  <!--  -->
  <h1 class="display-4">Doctor List</h1>
  <p class="lead">Discover the best doctors</p>

</div>

<br>







<!-- /////////////////////////////////////////////////////// -->







<!-- Main Wrapper -->
<div class="main-wrapper">



  <!-- Breadcrumb -->
  <div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-12 col-12">

          <h2 class="breadcrumb-title"style="padding-left: 70px">Doctors</h2>

          <button (click)="onSearch()" class="btn btn-outline-success float-right " style="">
            Search
          </button>
        </div>
        
      </div>
    </div>
  </div>
  <br>
  <!-- /Breadcrumb -->

  <!-- Page Content -->
  <div class="content">
    <div class="container-fluid">

      <div class="row">


        <!-- Profile Sidebar -->



        <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let doctor of doctors;">

          <div class=" card widget-profile pat-widget-profile">
            <div class="card-body grow">
              <div class="pro-widget-content">
                <div class="profile-info-widget">
                  <a href="#" class="booking-doc-img">
                    <img src="../../../assets/doclist.jpg" alt="User Image">
                  </a>
                  <div class="profile-det-info">
                    <h3>{{doctor["firstName"]}} {{doctor["lastName"]}}</h3>
                    <div class="patient-details">
                      <h5><b>Doctor ID :</b> HBD001</h5>
                      <h5 class="mb-0"><i class="fa fa-map-marker"></i> {{doctor["city"]}}</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="patient-info">
                <ul>
                  <li>Specialist <span>{{doctor["specialist"]}}</span></li>
                  <li>Phone <span>{{doctor["phone"]}}</span></li>


                </ul>
              </div>
              <br>

              <div style="text-align: center;">
                <ul>
                  <button (click)="onEdit(doctor)" class="btn btn-warning btn-sm">
                    Details
                  </button>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>


</div>

<!-- /Page Content -->




<!-- /Main Wrapper -->




<script src="assets/js/jquery.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Sticky Sidebar JS -->
<script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
<script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

<!-- Custom JS -->
<script src="assets/js/script.js"></script>