.searched{
    /* background-color:#0C7DE6; */
   margin-top: 40px;
    height: 40vh;
}
.input-box{
    padding-top: 60px;
    padding-left: 150px;
}

.card-container{
    margin-top: 40px;

}

span{
    font-weight: bold;
    
}
.card{
    margin-bottom: 50px;
}
.card:hover{
    transform: scale(1.03);
    transition: 1.5s;
    box-shadow: 0 0 3px 2px rgb(27, 88, 129);
}

h5{
    padding-bottom: 15px;
}
.notFound{
    padding: 20px;
    background-color:#FEFACD;
}


.image-container{
    height: 200px;
    width: 800px;
    margin-bottom: 10px;
}