

<!-- new code -->
<div class="doctor-details ptb--100">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <div class="d-doctor-thumb">
                  <img style="border-radius: 10px;" src="http://localhost:5000/user/image/{{doctor['image']}}" alt="doctor image">
              </div>
          </div>
          <div class="col-md-7">
             <div class="doctor-name">
               <h1> Dr. {{doctor["firstName"]}}  {{doctor["lastName"]}}</h1>
             </div>
             <div class="doctor-speciality">
               <p>{{doctor["specialist"]}}</p>
             </div>
             <div class="doctor-description" >
               <p>{{doctor["description"]}}</p>
             </div>
             <div  style="font-weight: bold;" class="doctor-contacts">
               <span style="margin: 20px;" > <img src="../../../assets/icons8-map-pin-24.png"> {{doctor["address"]}}  {{doctor["city"]}}   {{doctor["country"]}}</span>

               <p  style="margin: 20px;"><img src="../../../assets/icons8-email-open-50.png" style="height:20px;"> {{doctor["email"]}}</p>
               <p  style="margin: 20px;"> <img src="../../../assets/icons8-phone-24.png"> {{doctor["phone"]}}</p>
               <span >
               <p  style="margin: 20px;"><img  src="../../../assets/price.png" style="height:20px; width: 20px;"> {{doctor["price"]}}</p></span>
               <button   style="margin: 20px; margin: none;padding: none;" class="btn btn-outline-warning" >👍 <span style="color: greenyellow;">{{doctor["rating"]}}</span>  </button>
             </div>
             
             <div class="doctor-apt" style="margin-left: 20px;">
               <span ><img style="height: 30px; padding-right: 20px;" src="../../../assets/icons8-facebook-24.png" alt=""></span>
               <span><img style="height: 40px; padding-right: 20px;" src="../../../assets/icons8-twitter-100.png" alt=""></span>
               <span><img  style="height: 30px; padding-right: 200px;" src="../../../assets/icons8-instagram-50.png" alt=""></span>
               <span>
                <button
                (click)="onSearch(doctor)"
                class="btn btn-outline-primary btn-lg" 
                style="margin-right: 10px"
              >
                Get appointment
            </button>
               </span>
              </div>
          </div>
      </div>
  </div>
</div>