/* .card-header{
    font-size: 40px;
    font-weight: bold;
   font-family: sans-serif;

   background-color: coral;
}
h5{
    margin-bottom: 30px;
} */



/* new code */

.ptb--100 {
    padding: 100px 0;
    background-color:#F6F7F8;
    /* background: linear-gradient(90deg, rgba(110,122,154,0.9934348739495799) 0%, rgba(120,121,163,1) 28%, rgba(200,198,221,0.9318102240896359) 100%); */
}

.doctor-name
{
    margin-left: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    /* font-size: 200px; */
}


.doctor-speciality{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 15px;
    font-size: 20px;
}
.doctor-description{
    font-size: 15px;
    margin-left: 15px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    margin-top: 20px;

}
.doctor-contact{
       font-size: 15px;
  
}
.d-doctor-thumb{
   margin-left: 40px
}