<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a routerLink="/home/doctor/doctor-list">Doctors</a></li>
                        <li><a routerLink="/home/hospital/hospital-list">Hospitals</a></li>
                        <li><a routerLink="/home/ngo/ngo-list">NGO</a></li>
                        <li><a routerLink="/home/article/article-list">Articles</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a >Email- healthbuddy@sunbeam.com</a></li>
                        <li><a >Phone- 1234567890</a></li>
                        <li><a >Pune</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">HealthBuddy © 2021</p>
                </div>
            </div>
        </div>
    </footer>
</div>

