
<img class="signup-logo" src="../../../assets/img/logo/hblogo.png" alt="">

<div class="registration-form">
  <form>
    <div class="form-icon">
      <span><i class="fa fa-user"></i></span>
    </div>
    <h2 style="text-align: center;margin-bottom: 10px;" >Sign-Up</h2>
      <div class="form-group">
          <input type="text" class="form-control item" placeholder="First Name"
          
          required
          [(ngModel)]="firstName"
          name="firstName"
          type="firstName"
          >
      </div>

      <div class="form-group">
          <input type="text" class="form-control item" placeholder="Last Name"
          required
          [(ngModel)]="lastName"
          name="lastName"     
          >

      </div>
      <div class="form-group">
        <input type="text" class="form-control item" placeholder="Phone Number"
                 required
                [(ngModel)]="phone"
                name="phone"
        >
    </div>

    <div class="form-group">
      <input type="text" class="form-control item" placeholder="Email"
            required
            [(ngModel)]="email"
            name="email"
      >
  </div>
      <div class="form-group">
          <input type="password" class="form-control item" placeholder="Password"
          required
          [(ngModel)]="password"
          name="password"
          >
      </div>
      
      
      
      <div class="form-group">
          <button type="button" class="btn btn-block create-account"
          (click)="onSignup()"
            type="submit"
           
            value="Sign up"
          >Create Account</button>
      </div>
  </form>
  <div class="social-media">
      <h5>Already have an account?</h5>
      <div class="social-icons">
          
        <input
        routerLink="/auth/login"
        type="submit"
        class="btn btn-warning"
        value="Login"
      />
         
      </div>
  </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<script>

  $(document).ready(function(){
    $('#birth-date').mask('00/00/0000');
    $('#phone-number').mask('0000-0000');
  })
  </script>
  












<!-- old -->
<!-- <body>
  <div class="outer col-md-4">
    <form action="php/signup.php" method="POST">
      <h1 id="name">Sign up</h1>
      <div class="signup">
          <div class="form-group">
              <label for="firstName">FirstName</label>
              <input
                required
                [(ngModel)]="firstName"
                name="firstName"
                type="firstName"
                class="form-control"
                placeholder="enter your firstName"
              />
            </div>

            <div class="form-group">
              <label for="lastName">LastName</label>
              <input
                required
                [(ngModel)]="lastName"
                name="lastName"
                type="lastName"
                class="form-control"
                placeholder="enter your last name"
              />
            </div>

            <div class="form-group">
              <label for="phone">Phone</label>
              <input
                required
                [(ngModel)]="phone"
                name="phone"
                type="phone"
                class="form-control"
                placeholder="enter your phone"
              />
            </div>


        <div class="form-group">
          <label for="email">Email</label>
          <input
            required
            [(ngModel)]="email"
            name="email"
            type="email"
            class="form-control"
            placeholder="enter your email"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            required
            [(ngModel)]="password"
            name="password"
            type="password"
            class="form-control"
            placeholder="enter your password"
          />
        </div>

        <div class="form-group">
          <div>
            Already have an account?
            <input
              routerLink="/auth/login"
              type="submit"
              class="btn btn-warning"
              value="Login"
            />
          </div>
          <input
            (click)="onSignup()"
            type="submit"
            class="btn btn-success login-btn"
            value="Sign up"
          />
        </div>
      </div>
    </form>
  </div>
</body> -->


<!-- 
firstName" : "ajinkya",
"lastName" : "uttarwar",
"phone" : "9730275919",
"email" : "ajjudac@gmail.com",
"password" : "test"  -->