<div class="container-reset">
    <div class="card" style="width: 40rem">
      <div class="card-header">
        <h2>Reset Password</h2>
      </div>
      <div class="card-body" style="margin: 40px">
        <div class="inner-card1">
          <h6 style="margin: 10px">New password</h6>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><img height="20px" width="20px" src="../../../assets/icons8-lock-80.png"></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="New Password"
              aria-label="Username"
              aria-describedby="basic-addon1"
              width="50px"
              [(ngModel)]="password"
            />
          </div>
  
          <div class="inner-card2">
            <h6 style="margin: 10px">Conform New password</h6>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><img height="20px" width="20px" src="../../../assets/icons8-lock-80.png"></span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Conform New Password"
                aria-label="Username"
                aria-describedby="basic-addon1"
                [(ngModel)]="newPassword"
              />
            </div>
          </div>
  
  
          <div class="reset-btn ">
              <button type="button" (click)="resetPassword()" class="btn btn-primary">Reset Password</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  