
<div class="container">


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a routerLink="/home/dashboard">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/home/hospital/hospital-list">hospitals</a></li>
      <li class="breadcrumb-item active  " aria-current="page"  >hospitals-Details</li>
    </ol>
  </nav>
    <div class="card" style="width: 50rem;">
      <div class="card-header" >
        Hospitals Details
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5>Name: {{hospital["hospital_name"]}}    </h5>
          <h5>Address: {{hospital["hospital_address"]}}  </h5>
          <h5>City: {{hospital["hospital_city"]}} </h5>
          <h5>Country:  {{hospital["hospital_country"]}} </h5>
          <h5>Zip: {{hospital["hospital_zip"]}} </h5>
          <h5>Phone: {{hospital["hospital_phone"]}} </h5>
          <h5>Email: {{hospital["hospital_email"]}} </h5>

        </li>
        <li style="padding: 5px;">
          <!-- <button (click)="onUpdate(doctor)" class="btn btn-md btn-success">Update</button> -->
          <button style="margin-left: 20px;"  (click)="onBack()" class="btn btn-md btn-warning">Back</button>
        </li>
       
      </ul>
    </div>
    </div>