<div style="background-color: #FFEFED;padding-left: 90px;" class="jumbotron jumbotron-fluid ">

  <div class="col-md-4 float-right">

    <img class="ngo-img grow" src="../../../assets/img/docajju/Humanitarian Help-bro.svg" alt="">

  </div>
  <div class="col-md-4 float-right">

    <img class="ngo-img grow" src="../../../assets/img/docajju/Humanitarian Help-pana.svg" alt="">

  </div>

  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">NGO</li>
    </ol>
  </nav>
  <!--  -->
  <h1 class="display-4">NGO List</h1>
  <p class="lead">Discover the best NGO</p>
</div>
<br>


<!-- //////////////////// -->

<!-- <div class="container ">
  <div class="row">
     <div class="col-sm-3"> 
    <div class="card" style="margin-left: 30px;" *ngFor="let ngo of ngos;">
      <div class="card-body">
        <img src="../../assets/Art/doctor.png" class="card-img-top " alt="...">
        <h5 class="card-title text-centre">Name :- {{ngo["ngo_name"]}} </h5>
        <p class="card-text">Address :- {{ngo["ngo_address"]}}</p>
        <p class="card-text">ZipCode- {{ngo["ngo_zip"]}}</p>
        <p class="card-text">Country- {{ngo["ngo_country"]}}</p>
        <button (click)="onEdit(ngo)" style="margin-left: 10px" class="btn btn-warning btn-sm">
          Details
        </button>
      </div>
       </div> 
    </div>


  </div>

</div> -->





<!-- finalup -->




<div class="py-5 bg-light team1">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-md-7 text-center">
        <h3 class="mb-3">Find Ngo's</h3>
        <h6 class="subtitle font-weight-normal"></h6>
      </div>
    </div>
    <div class="row">
      <!-- column  -->
      <!-- <div class="col-lg-6">
        <div class="card card-shadow border-0 mb-4">
           Row 
          <div class="row no-gutters">
            <div class="col-md-5 pro-pic">

              <img class="list-pic" src="../../../assets/img/ngoe.jpg" alt="">

              <div class="card-img-overlay">
                <ul class="list-inline position-relative text-center">
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1 "><i
                        class="fa fa-facebook-official"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                        class="fa fa-twitter"></i></a></li>

                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                        class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-7 bg-white">
              <div class="p-4">
                <h5 class="mb-3 font-weight-medium">Fight Cancer Group</h5>
                <ul>
                  <li>Pune</li>
                  <li>+91 9730275919</li>
                  <br>
                  <li><button style="margin-left: 10px" class="btn btn-warning btn-sm">
                      Details
                    </button></li>
                </ul>
              </div>
            </div>
          </div>
         Row 
        </div>
      </div> -->
      <!-- column  -->
      <div class="col-lg-6" *ngFor="let ngo of ngos;">
        <div class="card card-shadow border-0 mb-4">
          <!-- Row -->
          <div class="row no-gutters card-shadow">

            <div class="col-md-5 pro-pic">
            <img class="list-pic" src="../../../assets/img/ngoe.jpg" alt="">
            <div class="card-img-overlay">
             
              <ul class="list-inline position-relative text-center">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1 "><i
                      class="fa fa-facebook-official"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                      class="fa fa-twitter"></i></a></li>

                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block text-white px-1"><i
                      class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-7 bg-white">
            <div class="p-4">
              <h6 class="mb-3 font-weight-medium">{{ngo["ngo_name"]}}</h6>
              <ul>
                <li>{{ngo["ngo_address"]}}</li>
                <li>+91-{{ngo["ngo_phone"]}}</li>
                <br>
                <li><button (click)="onEdit(ngo)" style="margin-left: 10px" class="btn btn-warning btn-sm">
                    Details
                  </button></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
    </div>
    <!-- column  -->
  </div>

</div>
