
<div class="container main-container ">

<div class="row" style="margin-bottom: 40px;"> 
    <h2 style="font-weight: bold;">Appointment Details: </h2>
    
</div>

<div class="container" *ngIf="bookings.length==0" >
  <h3>you dont have any appointment  till yet</h3>
  <button
  (click)="onBook()"
 
  class="btn btn-danger btn-sm"
  style="margin-top: 40px;"
>
  Book Appointment
</button>
  
</div>

<table class="table table-hover" *ngIf="bookings.length>0">
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">Specialist</th>
        <th scope="col">DoctorName</th>
        <!-- <th scope="col">HospitalName</th> -->
        <th scope="col">Date</th>
        <th scope="col">Fees</th>
        <th scope="col">Status</th>  
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings; let index=index">
        <th scope="row">{{index+1}}</th>
        <th scope="row">{{booking['specialist']}}</th>
        <td>{{booking['firstName']}} {{booking['lastName']}}</td>
        <!-- <td>{{booking['hospital_name']}}</td> -->
        <td>{{booking['date']}}</td>
        <td>{{booking['price']}}</td>
        <td>{{booking['isApproved'] ? 'Approved' : 'Pending'}}</td>
        <td>
          <button
            (click)="onCancel(booking)"
           
            class="btn btn-danger btn-sm"
          >
            Delete
          </button>
            
        </td>
      </tr>
    </tbody>
  </table>


</div>

