

<div class="container">
  <div class="main-body">
  
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home/dashboard">Home</a></li>
            <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
        <!-- /Breadcrumb -->
  
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="http://localhost:5000/user/image/{{user['image']}}" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{user['firstName']}} {{user["lastName"]}}</h4>
                    <p class="text-secondary mb-1">User</p>
                    <!-- <button class="btn btn-primary " style="margin-right: 5px;">Follow</button> -->

                    <!-- modal code -->
                    <!-- <button (click)="uploadImage()"  class="btn btn-outline-primary">Update image</button> -->



                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
Upload Image
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Upload Image </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <div class="form-group">
          <!-- <label for="">Select Image</label> -->
          <input (change)="onImageSelect($event)" type="file" name="image" class="form-control">
        </div>
      </div>
      
    </div>
    <div class="modal-footer">
      <div class="card-footer">
        <button (click)="onUploadImage()" class="btn btn-success">Upload</button>
        <a style="margin-left: 10px;"data-dismiss="modal" class="btn btn-danger">Cancel</a>
    
      </div>
    </div>
  </div>
</div>
</div>
                    <!-- modal code end -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user['firstName']}} {{user["lastName"]}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user["email"]}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Mobile</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                   {{user["phone"]}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">ZipCode</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user["zip"]}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                   {{user["city"]}},{{user["country"]}}
                  </div>
                </div>
              <hr>
                <div class="row">
                  <div class="col-sm-3">
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <button (click)="onEdit(user)" class="btn btn-outline-success" style="margin-right: 10px;">Edit</button>
                    <button class="btn btn-outline-warning " routerLink="/home/dashboard">Back</button>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
  </div>