
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100" style="border-radius: 20px;">
      
      <form class="login100-form validate-form" >

        <img class="brand-logo" src="../../../assets/img/logo/hblogo.png" alt="">
        <span class="login100-form-title p-b-43">
          Login <span style="font-size: x-small;">Doctor</span>
        </span>
        
        
        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input class="input100"
          required
          [(ngModel)]="email"
          name="email"
          type="email"
         
          >
          <span class="focus-input100"></span>
          <span class="label-input100">Email</span>
        </div>
        
        
        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100"
          
          required
          [(ngModel)]="password"
          name="password"
          type="password"
          
          >
          <span class="focus-input100"></span>
          <span class="label-input100">Password</span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-32">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a  class="txt1">
              Forgot Password?
            </a>
          </div>
        </div>
    

        <div class="container-login100-form-btn">
          
          <button class="login100-form-btn"
          
              (click)="onLogin()"
              type="submit"
              value="Login"

          >
            Login
          </button>
        </div>
        
        <div class="text-center p-t-46 p-b-20">
          <span class="txt2">
           <a  routerLink="/auth/signup" > Don't have an account? Sign-Up here</a>
          </span>
        </div>

        <div class="login100-form-social flex-c-m">


          <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fa fa-google" aria-hidden="true"></i>
          </a>
          
        </div>
      </form>

      <div class="login100-more" style="background-image: url('../../../assets/img/docajju/wplogin.jpg');">
      </div>
    </div>
  </div>
</div>


