

<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home/dashboard">Home</a></li>
              <!-- <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li> -->
              <li class="breadcrumb-item"><a routerLink="/home/user/profile" style="cursor: pointer;">User Profile</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"> FirstName</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input [(ngModel)]="firstName" type="text" class="form-control">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"> LastName</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input [(ngModel)]="lastName" type="text" class="form-control">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input [(ngModel)]="email" type="text" readonly class="form-control">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input [(ngModel)]="phone" type="text" class="form-control">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">ZipCode</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input [(ngModel)]="zip" type="text" class="form-control">
                    </div>
                  </div>
                  <hr>
                <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">City</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input [(ngModel)]="city" type="text" class="form-control">
                    </div>
                  </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Country</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input [(ngModel)]="country" type="text" class="form-control">
                    </div>
                  </div>
                <hr>
                  <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <button (click)="onEdit()" class="btn btn-outline-success" style="margin-right: 10px;" >Edit</button>
                      <button class="btn btn-outline-warning " routerLink="/home/user/profile">Back</button>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>

            
          </div>
        </div>
    </div>