
    
    <div class="col-md-10">
        <div class="float-right grow">

            <img class="about-img grow" src="../../assets/img/logo/titlelogo.png" alt="">
        </div>

    </div>
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid btn-warning bg-transparent">
            <h1 class="display-4">About HealthBuddy</h1>
            <p class="lead">Your only destination for healthcare information.</p>
            <br>
            <hr class="my-4" />
            <p class="about-app">
                Web-app project called Healthbuddy using MEAN stack Development. Using Angular as a frontend, node-express for backend rest-api server, and MySql database for management of data.

                These days the whole world is going through a pandemic situation and it has cost millions of lives till date due to their lack of reach and easy access to the healthcare information. 
                To help these type of crisis situation, we wanted to develope a web-app that will act as a medium which will provide fast and easy access to Healthcare infrstructures like local doctors, hospitals, ngo's information, Emergency helplines, based on that perticular area. 
            </p>
            <br>
            <a class="btn btn-dark btn-lg grow" href="#" role="button"
              >Learn more about HealthBuddy</a
            >
          </div>
        


    </div>








    
    <!-- <div class="team-boxed" style="background-color: #F4D03F;"> -->
    <div class="team-boxed" style="background-color: #FAD7A0;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color: #2E4053;">Developers </h2>
            <p class="text-center">We are team of enthusiast developers who believe in creating innovative and useful software solutions </p>
            <br>
        </div>
        <div class="row people" style="background-color: #FFEED8; border-radius: 10px;">
            <div class="col-md-6 col-lg-4 item">
                <div class="box grow"><img class="rounded-circle" src="../../assets/img/docajju/aboutusprofile/girish.jpg">
                    <h3 class="name">Girish Shelke</h3>
                    <p class="title">DAC-Feb 2020 Student</p>
                    <p class="description">Tech-Enthusiast , Detail-oriented, and responsible engineer . Committed with get-it-done ontime
                        and efficient high-quality product development spirit. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                <div class="box grow"><img class="rounded-circle" src="../../assets/img/docajju/aboutusprofile/ajju.jpg">
                    <h3 class="name">Ajinkya Uttarwar</h3>
                    <p class="title">DAC-Feb 2020 Student</p>
                    <p class="description">Tech-Enthusiast , Detail-oriented, and responsible engineer . Committed with get-it-done ontime
                        and efficient high-quality product development spirit.. </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                <div class="box grow"><img class="rounded-circle" src="../../assets/img/docajju/aboutusprofile/montya.jpg">
                    <h3 class="name">Ajinkya Gothane</h3>
                    <p class="title">DAC-Feb 2020 Student</p>
                    <p class="description">Tech-Enthusiast , Detail-oriented, and responsible engineer . Committed with get-it-done ontime
                        and efficient high-quality product development spirit.</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>