.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1); }



/*  */
.floatRight{float:right;margin-left:20px}




.home-welcome{

  background-color: #EEEEEE;
  /* background-color: #E8DAEF; */
  /* background-color: #B2ADE2; */
  /* background-image:url("../../assets/img/docajju/homebg.png"); */

}


.home-img{

  width: 100%;
  height: auto;

}


.offer{
  
  height: 300px;
}
.nav1{

  color: #262626;
}




.pastel-home{

  background-color: #FFCE6E;
}


.about-us{

  text-align: center;
 
  margin-bottom: 50px;
}

.profile-photo{

  margin: 20px;
 height: 150px;
 width: 150px;
  border-radius: 75px;
 align-self: center;

}

.text-centre{

  text-align: center ;
}

.color-ajju{

  background-color: #FAD7A0;
}

.card{
display: inline-block;


}


.carding{
  margin: 20px;
  border-radius: 5px;
  padding: 10px;

}
/* .card{
  position: inline-block;
} */

.my-corousel{
  padding-left: 300px;
  text-align: justify;
  padding-top: 50px;


}



