<!--  -->
<div class="col-md-4 float-right">
    <img class="home-img grow" src="../../assets/img/album/home.png" alt="" />
</div>
<div class="col-md-8">
    <div class="jumbotron jumbotron-fluid btn-warning bg-transparent">
        <h1 class="display-4">Hello Dr.{{firstName}},<br> welcome to HealthBuddy!</h1>
        <p class="lead">Your only destination for healthcare information.</p>
        <hr class="my-4" />
        <p>
            It uses utility classes for typography and spacing to space content out
            within the larger container.
        </p>
        <a class="btn btn-dark btn-lg grow" href="#" role="button">Learn more about us</a>
    </div>
</div>
<hr/>
<div class="jumbotron jumbotron-fluid  bg-warning">
    <div class="container grow">
        <h1 class="display-4">Services</h1>
      
        <br />

        <div class="row">
            <div class="col-sm-4">
                <div class="card grow">
                    <div class="card-body">
                        <img src="../../assets/Art/hospital.png" class="card-img-top" alt="..." />
                        <h5 class="card-title">Add Hospitals</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional
                            content.
                        </p>
                        <a routerLink="/home/hospital/addHospital" class="btn btn-warning">Hospitals</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card grow">
                    <div class="card-body">
                        <img src="../../assets/Art/offer.png" class="card-img-top offer" alt="..." />
                        <h5 class="card-title">Offers</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional
                            content.
                        </p>
                        <a routerLink="/home/offer-list/offer-add" class="btn btn-warning">Offers</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card grow">
                    <div class="card-body">
                        <img src="../../assets/Art/article.png" class="card-img-top" alt="..." />
                        <h5 class="card-title">Add Articles</h5>
                        <p class="card-text">
                            With supporting text below as a natural lead-in to additional
                            content.
                        </p>
                        <a routerLink="/home/article-add" class="btn btn-warning">Articles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<hr>

<div class="row" style="background-color: rgb(245, 252, 255);padding: 20px;">
    <div class="col-sm-5">
        <h2>
            Read top articles from health experts
        </h2>
        <h6 style="margin-bottom: 40px;margin-top: 40px;">
            Health articles that keep you informed about good health practices and achieve your goals
        </h6>
        <button (click)="onSearchArticles()" class="btn btn-outline-success" style="margin-right: 10px">
            see all article
        </button>
    </div>
    <div class="col-sm-3" *ngFor="let article of tempArticles;">
        <div class="card carding " (click)="onChange(5)" style="width: 18rem; margin-top: 10px;">
            <img *ngIf="article['article_image']" class="art-img" style="width: 92%; padding-left: 10px; border-radius: 5px; height: auto;" src="http://localhost:5000/articles/image/{{article['article_image']}}" alt="">
            <div class="card-body">
                <h5 class="card-title">{{article['article_title']}}</h5>
                <p class="card-text">{{article['article_description']}}</p>

            </div>
        </div>
    </div>
</div>

<hr>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding-bottom: 30px;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner " style="background-color: antiquewhite;">

        <h2 style="padding-left: 350px; padding-top: 50px;">What our users have to say </h2>
        <div class="carousel-item active my-corousel">
            <div style="width: 600px; font-size: 20px;">
                Very good site. Well thought out about booking/rescheduling/canceling an appointment. Doctor's feedback
                mechanism is good and describes all the basics in a good way
            </div>
            <div>
                <p style="font-weight: bold; padding-top: 25px;padding-left: 200px;">Girish Shelke</p>

            </div>
        </div>
        <div class="carousel-item  my-corousel">
            <div style="width: 600px; font-size: 20px;">
                Very helpful. Far easier than doing same things on computer. Allows quick and easy search with speedy
                booking. Even maintains history of doctors visited.
            </div>
            <div>
                <p style="font-weight: bold; padding-top: 25px;padding-left: 200px;">Sanket Sumant</p>

            </div>
        </div>
        <div class="carousel-item  my-corousel">
            <div style="width: 600px; font-size: 20px;">
                Very easy to book,maintain history. Hassle free from older versions of booking appointment via
                telephone.. Thanks Practo for making it simple.
            </div>
            <div>
                <p style="font-weight: bold; padding-top: 25px;padding-left: 200px;">Dhiraj Mandade</p>

            </div>
        </div>

        <div class="carousel-item  my-corousel">
            <div style="width: 600px; font-size: 20px;">
                Very easy to book,maintain history. Hassle free from older versions of booking appointment via
                telephone.. Thanks Practo for making it simple.
            </div>
            <div>
                <p style="font-weight: bold; padding-top: 25px;padding-left: 200px;">Shreyas Ugale</p>

            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>