
<img class="signup-logo" src="../../../assets/img/logo/hblogo.png" alt="">

<div class="registration-form">
  <form>
    <div class="form-icon">
      <span><i class="fa fa-user"></i></span>
    </div>
    <h2 style="text-align: center;margin-bottom: 10px;" >Sign-Up</h2>
      <div class="form-group">
          <input type="text" class="form-control item" placeholder="First Name"
          
          required
          [(ngModel)]="firstName"
          name="firstName"
          type="firstName"
          >
      </div>

      <div class="form-group">
          <input type="text" class="form-control item" placeholder="Last Name"
          required
          [(ngModel)]="lastName"
          name="lastName"     
          >

      </div>

    <div class="form-group">
      <input type="text" class="form-control item" placeholder="Email"
            required
            [(ngModel)]="email"
            name="email"
      >
  </div>
      <div class="form-group">
          <input type="password" class="form-control item" placeholder="Password"
          required
          [(ngModel)]="password"
          name="password"
          >
      </div>
      
      
    
      <div class="form-group">
          <button type="button" class="btn btn-block create-account"
          (click)="onSignup()"
            type="submit"
            value="Sign up"
          >Create Account</button>

      </div>
  </form>
  <div class="social-media">
      <h5>Already have an account?</h5>
      <div class="social-icons">
          
        <input
        routerLink="/auth/login"
        type="submit"
        class="btn btn-warning"
        value="Login"
      />
      </div>
  </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

<script>

  $(document).ready(function(){
    $('#birth-date').mask('00/00/0000');
    $('#phone-number').mask('0000-0000');
  })
  </script>
  





