<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">

      <div class="media-body">
        <h4 class="m-0"> HealthBuddy</h4>
        <p class="font-weight-normal text-muted mb-0">Admin Panel</p>
        <p class="font-weight-normal text-muted mb-0">{{userName}}</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a routerLink="/home/dashboard" class="nav-link text-dark bg-light">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
        home
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/home/patient/list-patient" class="nav-link text-dark">
        <i class="fa fa fa-user mr-3 text-primary fa-fw"></i>
        Patients
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/home/doctor/list-doctor" class="nav-link text-dark">
        <i class="fa fa-user-md mr-3 text-primary fa-fw"></i>
        Doctors
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/home/ngo/list-ngo" class="nav-link text-dark">
        <i class="fa fa-handshake-o mr-3 text-primary fa-fw"></i>
        NGO's
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/home/article/list-article" class="nav-link text-dark">
        <i class="fa fa-newspaper-o mr-3 text-primary fa-fw"></i>
        Articles
      </a>
    </li>

  </ul>

  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">User</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="/home/admin-profile" class="nav-link text-dark">
        <i class="fa fa-user-circle mr-3 text-primary fa-fw"></i>
        Profile
      </a>
    </li>
    <li class="nav-item">
      <a (click)="onLogout()" class="nav-link text-dark">
        <i class="fa fa-sign-out mr-3 text-primary fa-fw"></i>
        Logout
      </a>
    </li>

  </ul>
</div>
<!-- End vertical navbar -->





<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
      class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>






  <!--  -->
  <!-- 
        <nav  class=" nav1 navbar navbar-expand-lg navbar-light navigation-wrap  ">
          <a class="navbar-brand" style="color: aliceblue;" href="/home/dashboard">Admin Panel</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="anchor" routerLink="/home/dashboard" class="nav-link">Dashboard</a></li>
        <li class="nav-item"><a class="anchor" routerLink="/home/patient/list-patient" class="nav-link " >Patient</a></li>
        <li class="nav-item"><a  routerLink="/home/doctor/list-doctor" class="nav-link">Doctors</a></li>
        <li class="nav-item"><a class="anchor" routerLink="/home/article/list-article" class="nav-link">Articles</a></li>
        <li class="nav-item"><a class="anchor" routerLink="/home/ngo/list-ngo" class="nav-link">NGO's</a></li>
        <li (click)="onLogout()" style="margin-left: 10px;"  class="nav-item"><a class="nav-link">Logout</a></li>
        
        
        <li> <img src="./../../assets/icon1.png" alt="" height="50px" width="50px"></li>
        <li style="margin-top: 10px; font-size: 20px;margin-left: 5px; color: rgb(255, 2, 2);">{{name}}</li>
        
      </ul>
    </div>
  
  </nav> -->


  <header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">

      <div class="navbar-collapse">

        <ul class="navbar-nav mr-auto">

        </ul>



        <div class="dropdown">
          <button class="btn  btn-secondary dropdown-toggle fa fa-user" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{userName}}
          </button>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/home/admin-profile">Profile</a>
            <a class="dropdown-item" (click)="onLogout()">Logout</a>

          </div>
        </div>


      </div>
    </nav>
  </header>


  <div class="container-fluid">

    <router-outlet></router-outlet>
  </div>



</div>