
/*  */
/* .nav1{
    background-color: rgb(125, 151, 185);
}

a:link {
    color: white;
  }
input{
    margin-left: 30px;
}

li a{
    font-size: 20px;
    color: aliceblue;
}
.anchor{
    color: aliceblue;
}
img{
    margin-left: 600px;
    padding: none;
    margin-top: none;
    margin-bottom: none;
}

.head1{
    margin-top: 5px;
 color:red;
} */