

<div style="background-color: #FFEFED;padding-left: 90px;" class="jumbotron jumbotron-fluid ">
  
  <div class="col-md-4 float-right">

    <img class="ngo-img grow" src="../../../assets/img/docajju/offer1.svg" alt="">
    
  </div>
  <div class="col-md-4 float-right">
    
    <img class="ngo-img grow" src="../../../assets/img/docajju/Humanitarian Help-pana.svg" alt="">
    
  </div>
  
  <!-- Breadcrumbs -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Offers</li>
    </ol>
  </nav>
  <!--  -->
  <h1 class="display-4">Offers List</h1>
  <p class="lead">Discover the offers</p>
  <button (click)="addOffer()" class="btn btn-outline-danger btn-sm ">Add</button>
</div>
<br>
<div class="container-fluid" style="display: block; margin-left: auto; margin-right: auto;">
<div class="row" >
    <div class="card" *ngFor="let offer of offers; let index = index" >
          <div class="card-body">
            <img  class="offer-image" src="http://localhost:5001/offers/image/{{offer['offer_image']}}" alt="">
            <h5 class="card-title ">Doctor Name : {{offer['firstName']}} {{offer['lastName']}}  </h5>
            <button
            (click)="onDelete(offer)"
            style="margin-left: 10px"
            class="btn btn-danger btn-sm"
          >
            Delete
          </button>
          </div>
      </div>
    </div>
      
    </div>





<!-- finalup -->

