

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }



/*  */
.floatRight{float:right;margin-left:20px}

.ngo-img{

  width: 100%;
  height: auto;

}

.home-img{

  width: 100%;
  height: auto;

}



.nav1{

  color: #262626;
}




.pastel-home{

  background-color: #FFCE6E;
}


.about-us{

  text-align: center;
 
  margin-bottom: 50px;
}

.profile-photo{

  margin: 20px;
 height: 150px;
 width: 150px;
  border-radius: 75px;
 align-self: center;

}
.card{
  position: inline-block;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

}

.text-centre{

  text-align: center ;
}

.color-ajju{

  background-color: #FAD7A0;
}

.card-img-top{
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

.offer-image{
    width: 350px;
    height: 350px;
    border-radius: 5px;
}

