.jumbotron{

    background-image: src('../../assets/img/meditation.png');
}

.med-img{

    height: auto;
    width:100%;
    
   
}


.card{


    height: auto;
    width: 70%;
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

