
<div class="container">

    <img class="container med-img" src="../../assets/img/meditations.png" alt="">
</div>
<br>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">A Guided Meditation on the Body, Space, and Awareness with Yongey Mingyur Rinpoche</h5>
            <p class="card-text">In this short guided meditation, Tibetan Buddhist meditation master Yongey Mingyur Rinpoche gives simple instructions for bringing awareness to the body, sensory experience, space, and finally to awareness itself. The main point of the practice is to fully embrace the present moment with mindfulness and awareness.</p>
            

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5GSeWdjyr1c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr>
</div>
<hr>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">Guided Meditation From Sadhguru</h5>
            <p class="card-text">Chit Shakti for Success is a guided meditation from Sadhguru that will allow you to access the possibility that every human being carries within oneself to craft your destiny the way you want.</p>
            

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JfSdjsijR3o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr>
</div>
<hr>
<div class="container">

    <div class="card">
        <div class="card-header">

            <h5 class="card-title">2 Most Powerful Meditation Techniques Finally Revealed | Bhagavad Gita
            </h5>
            <p class="card-text">2 Most Powerful Meditation Techniques Finally Revealed by two world famous Monks, Swami Mukundananda & Dandapani.

                Do you meditate? Are you practicing the best meditations for your spiritual progress? Watch the video to find out which is the best form of meditation. 
                Swami Mukundananda reveals The Most powerful meditation technique one can practice for the fastest way to make spiritual progress. 
                Dandapani share how to practice mediation most effectively for faster results.
                Practice these powerful meditation techniques today and see the results for yourself.</p>
            

        </div>
        <div class="card-body">

            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/aIIEI33EUqI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
    </div>

    <hr>
</div>
<hr>